---
import { Image } from "astro:assets";

const remoteUrl =
  "https://app.atelier-jbp.fr/assets/ac0a0690-5551-42d3-8680-10e04ce9b22f?width=734&height=480&access_token=2a7gXkchTnIzw7uED1oh08SWrHAGimBg";

const localUrl =
  "http://localhost:8055/assets/0641044c-aaf9-40ff-a476-6cf42277c370?width=734&height=480&access_token=XjflWToBxjKPRMgVRawIM-Rjmr8p538Z";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h2>Local Image</h2>
    <Image src={localUrl} width="367" height="240" alt="Local" />
    <h2>Remote Image</h2>
    <Image src={remoteUrl} width="367" height="240" alt="Remote" />
    <h2>Placeholder</h2>
    <Image
      src="https://via.placeholder.com/367x240"
      width="367"
      height="240"
      alt="Placeholder"
    />
  </body>
</html>
